<div class="container">
    <div class="row justify-content-center text-center">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="https://avatars.githubusercontent.com/u/135793604?s=400&u=6d612accc449b6dc22bbd52a0e9ec9b9d2aa10e4&v=4" class="card-img-top rounded-circle" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h1 class="font-weight-bold" style="font-size: 20px;">Me llamo Nayelhy Ponce Cabrera</h1>
                                <p>Estudio tecnologías de la información de la Univerdidad Técnica de Machala</p>
                                <p>Ecuador - El Oro - Buenavista</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
